[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"] }
sqlalchemy = "*"
psycopg2-binary = "*"
python-jose = "*"
bcrypt = "*"
alembic = "*"
fastapi-mail = "*"
setuptools = "*"
twine = "*"
wheel = "*"
beautifulsoup4 = "*"
premailer = "*"
celery-redbeat = "*"
fastapi-pundra = "==0.0.11"

[dev-packages]

[requires]
python_version = "3.12"
