[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"] }
sqlalchemy = "*"
psycopg2-binary = "*"
python-jose = "*"
bcrypt = "*"
alembic = "*"
fastapi-mail = "*"
setuptools = "*"
twine = "*"
wheel = "*"
beautifulsoup4 = "*"
premailer = "*"
celery-redbeat = "*"
fastapi-pundra = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
factory-boy = "*"
httpx = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = ">=3.12"
